/* Write your CSS here */
.match-card-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0f172a;
  border-radius: 15px;
  margin-right: 30px;
  margin-bottom: 30px;
  min-width: 28vw;
  max-height: 60vh;
  padding: 20px;
}
.match-card-image {
  max-height: 100px;
  max-width: 100px;
}
.match-car-heading {
  color: white;
  font-family: 'Bree Serif';
  text-align: center;
}
.match-card-result {
  color: white;
  font-family: 'Breee Serif';
  text-align: center;
}
.match-card-status-won {
  color: #18ed66;
  font-family: 'Bree Serif';
  text-align: center;
}
.match-card-status-loss {
  color: #e31a1a;
  font-family: 'Bree Serif';
  text-align: center;
}
